.profile-container {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 600px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1a73e8;
    border-radius: 5px;
}

.profile p {
    margin-top: 30px;
    font-size: 1.5rem;
    color: black;
}

.profile-container h2 {
    color: #1a73e8;
    font-size: 1.7rem;
}