.navigation {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    color: #fff;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 24px rgba(149, 157, 165, 0.4);
}

.navContainer {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}

.navContainer a {
    color: #1a73e8;
    font-weight: bold;
    border-bottom: 3px solid #1a73e8;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.3rem;
}

.cartIconContainer {
    position: relative;
}

.cartIconContainer img {
    width: 40px;
    color: #1a73e8;
}

.cartIconContainer span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0b499b;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 0.75rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.cart-icon {
    margin-right: 10px;
    cursor: pointer;
}