* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f6f6f6;
}

.homePageContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
  max-width: 1170px;
  width: 90vw;
}